* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

#body {
    background-color: rgb(250, 249, 248);
}

#navig {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
}

.licon {
    width: 150px;
    padding: 0, 10px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left ul li {
    list-style: none;
    display: inline-block;
}

.nav-left ul li img {
    width: 25px;
    padding: 0, 5;
}