* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: rgb(244, 248, 248);
    display: flex;
}

.slidebar {
    margin-right: 0px;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
}

.header p {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 60px;
}

.notification {}

.header ul li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    margin: 20px;
    align-self: auto;
}

.slide1 {
    display: flex;
    color: whitesmoke;
    font-size: 50px;
    padding-top: 250px;
    padding-bottom: 100px;
    margin-left: 5px;
    background-image: url("https://cdn.shopify.com/s/files/1/0153/8863/files/Unique-Melody-Mext_For_Desktop_1400x.jpg?v=1650529094");
}

.buytag {
    background-color: aliceblue;
    color: black;
    font-size: 24px;
    margin-top: 150px;
    margin-bottom: 10Px;
    margin-left: -300px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 40px;
    border: solid white;
    border-radius: 25%;
}

.buytag p {
    text-align: center;
    margin: 10px;
}

#promo {
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 80px;
}

.iconimage {
    margin-left: 80px;
}

.endimage {
    margin-left: 120px;
    border-radius: 5%;
    margin-top: 150px;
}

.endtext {
    padding-left: 600px;
    display: flex;
    margin-top: -400px;
}

.endtext h1 {
    color: black;
    margin-top: -100px;
    margin-right: -200px;
    margin-left: 200px;
}

.endtext table td {
    margin-top: 0px;
    margin-right: 100px;
    font-size: 24px;
    color: gray;
}

#icon {
    padding-right: 400px;
    margin-top: 100px;
    margin-left:1050px;
}

#end {
    margin-top: 200px;
    text-align: center;
    font-weight: bold;
    color: gray;
    padding-bottom:15px;
    background-color: rgb(244, 248, 248);
}

.header li :hover::after {
    color: rgb(194, 11, 11);
}