*{
    margin=0%
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 1px solid rgba(219,219,219,1);
}
    header nav ul{
        list-style: none;
        display flex;

    }
    header nav
}